*{
    margin:0px

}
body{
    background-color: rgb(124, 124, 128);
}

#header{
    display:flex;
    flex-direction: row;
    align-items: center;
    /* justify-content:space-evenly; */
    padding:10px;
    background-color: rgb(118, 131, 162);
    border: 2px solid darkgray;
    width:100%;
    flex-wrap: wrap;

}
#display{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}



/* div{
    background-color: rgb(47, 46, 46);
} */
input{
    border:2px solid gray;
    height: 20px;
    align-items: center;
    background-color: rgb(215, 215, 215);
    font-family:monospace;
    padding:3px;
    margin:5px;
    font-size: larger;
    height: 30px;
}

.newDisplay{
    background-color: rgb(118, 131, 162);
    display: flex;
    justify-content:space-evenly
    
}

#main{
    background-color: rgb(124, 124, 128);
    font-family:monospace;
    font-size:200%;
    /* display:flex;
    flex-direction: column;
    align-items: center; */
    
}

#read, #newCheck{
    /* display: inline-block; */
    vertical-align: middle;
    
}

#box{
    display:flex;
    align-items: center;
    height:25px;
}
#add{
    background:url(plusSign.svg);
    width:50px;
    height:50px;
    background-size: 119%;
    background-position: -2px -13px;
    border-radius:50px;
    border-color: rgb(125, 125, 140);
    margin:5px;
    
}

#add:hover{

    border-color: rgb(162, 171, 192);
}
#read,#newCheck{
    margin:5px;
    border:1px solid black;
    height:20px;
    width:20px
}
#delBut{
    border-color: #829dc1;
    color: #343063;
    background-color: #d7d7d7;
    font-size: large;

}
/* 
input:invalid{
    border-color: red;

}

input:valid{
    border-color: green;
} */